
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

.steps {
    margin: 50px;
    width: 600px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.steps__form {
    display: flex;
    height: 100%;
    justify-content: space-between;
}

.form__box {
    display: flex;
    flex-direction: column;
}

.form__title {
    padding-bottom: 10px;
}

.form__input-distance, .form__input-date{
    height: 30px;
}

.form__btn {
    width: 100px;
}